{% block contenido %}
<div class="container">
    <h2>Iniciar sesion (Admin)</h2>
    <form method="POST">
        {{ form.hidden_tag()}}

        <div>
            {{ form.username.label}}
            {{ form.username(size=20) }}
        </div>

        <div>
            {{ form.email.label }}
            {{ form.email }}
        </div>

        <div>
            {{ form.password.label}}
            {{ form.password(size=20) }}
        </div>

        <div>
            {{ form.submit() }}
        </div>
    </form>
    <p>¿Eres nuevo? <a href="{{ url_for('auth.registro')}}">Crear cuenta de admin</a></p>
</div>
{% endblock %}